Repository zhaoky/site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write --list-different, pnpm lint, pnpm markdownlint:fix

feat: add token
  .github/workflows/publish-ci.yml
Due: none

feat: add config
  .github/workflows/publish-ci.yml
  .gitignore
  config/Dockerfile_blog
  config/Dockerfile_demo
  config/docker-compose.yml
  config/nginx_blog.conf
  config/nginx_demo.conf
  copy.sh
  docs/demo/test/1.html
  package.json
Due: pnpm lint

feat: change actions
  .github/workflows/publish-ci.yml
Due: none

feat: change config
  config/Dockerfile_blog
  config/Dockerfile_demo
  config/docker-compose.yml
Due: none

feat: change nginx config
  config/nginx_blog.conf
  config/nginx_demo.conf
Due: none

feat: fix nginx config
  config/nginx_demo.conf
Due: none

feat: set nginx config
  config/nginx_blog.conf
Due: none

feat: test nginx config
  config/nginx_blog.conf
Due: none

feat: m nginx config
  config/nginx_blog.conf
  config/nginx_demo.conf
Due: none

feat: m nginx demo config
  config/nginx_blog.conf
Due: none

feat: m nginx blog config
  config/nginx_blog.conf
  config/nginx_demo.conf
Due: none

feat: m search config
  docs/.vitepress/config.ts
  docs/.vitepress/configs/search.ts
  docs/.vitepress/plugins/search.ts
  docs/.vitepress/theme/index.ts
  docs/index.md
  package.json
Due: eslint --cache --fix, prettier --write --list-different, pnpm markdownlint:fix

feat: m meta config
  docs/.vitepress/configs/head.ts
Due: eslint --cache --fix, prettier --write --list-different

feat: change nginx config
  .github/workflows/publish-ci.yml
  .gitignore
  configs/Dockerfile_blog
  configs/Dockerfile_demo
  configs/Dockerfile_resume
  configs/docker-compose.yml
  configs/nginx_blog.conf
  configs/nginx_demo.conf
  configs/nginx_resume.conf
  copy.sh
  demo/index.html
  demo/keyboard.html
  demo/m3u8.html
  demo/resume.html
  demo/resume.pdf
  demo/screen.html
  docs/.vitepress/config/Dockerfile_blog
  docs/.vitepress/config/Dockerfile_demo
  docs/.vitepress/config/docker-compose.yml
  docs/.vitepress/config/nginx_blog.conf
  docs/.vitepress/config/nginx_demo.conf
  docs/.vitepress/demo/index.html
  docs/.vitepress/demo/test/1.html
  package.json
Due: pnpm lint

feat: change resume nginx config
  .github/workflows/publish-ci.yml
  docs/.vitepress/config/Dockerfile_blog
  docs/.vitepress/config/Dockerfile_demo
  docs/.vitepress/config/docker-compose.yml
  docs/.vitepress/config/nginx_blog.conf
  docs/.vitepress/config/nginx_demo.conf
  docs/.vitepress/demo/index.html
  docs/.vitepress/demo/test/1.html
Due: pnpm lint

feat: fix resume nginx config
  configs/nginx_resume.conf
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx,vue}
  prettier --write --list-different: any of: *.{js,jsx,ts,tsx,vue}
  pnpm lint: any of: *.{html,css,scss,sass,less,styl}
  pnpm markdownlint:fix: any of: docs/**/*.{md,mdx}
