Repository zhaoky/site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write --list-different, pnpm lint, pnpm markdownlint:fix

feat: upd
  docs/exp/187.md
  docs/exp/188.md
  docs/misc/360.md
  docs/misc/999.md
Due: pnpm markdownlint:fix

feat: upd
  docs/exp/186.md
  docs/exp/187.md
  docs/public/img/exp-186-1.webp
  docs/public/img/exp-186-2.jpg
Due: pnpm markdownlint:fix

feat: upd
  docs/exp/187.md
  docs/exp/189.md
  docs/exp/203.md
  docs/exp/204.md
  docs/exp/208.md
  docs/exp/224.md
Due: pnpm markdownlint:fix

feat: upd
  docs/.vitepress/config.ts
  docs/index.md
Due: eslint --cache --fix, prettier --write --list-different, pnpm markdownlint:fix

feat: upd
  docs/exp/209.md
  docs/exp/210.md
  docs/misc/130.md
  docs/misc/131.md
  docs/misc/167.md
  docs/misc/180.md
  docs/misc/184.md
  docs/misc/192.md
  docs/misc/196.md
Due: pnpm markdownlint:fix

feat: upd
  docs/exp/218.md
Due: pnpm markdownlint:fix

feat: upd
  docs/exp/186.md
  docs/exp/187.md
  docs/exp/347.md
  docs/public/img/exp-186-3.webp
  docs/public/img/exp-186-4.webp
Due: pnpm markdownlint:fix

feat: upd
  docs/exp/186.md
Due: pnpm markdownlint:fix

feat: upd
  docs/exp/188.md
  docs/exp/218.md
Due: pnpm markdownlint:fix

feat: upd
  docs/misc/325.md
Due: pnpm markdownlint:fix

feat: upd
  docs/misc/886.md
  docs/misc/887.md
  docs/misc/999.md
Due: pnpm markdownlint:fix

feat: upd
  docs/exp/356.md
  docs/exp/407.md
Due: pnpm markdownlint:fix

feat: upd
  docs/exp/346.md
Due: pnpm markdownlint:fix

feat: add single-spa
  docs/micro/1.md
  docs/micro/2.md
  docs/micro/3.md
  docs/public/img/micro-1-1.png
  docs/public/img/micro-1-2.png
  docs/public/img/micro-1-3.png
  docs/public/img/micro-1-4.png
  docs/public/img/micro-1-5.png
  docs/public/img/micro-3-1.png
Due: pnpm markdownlint:fix

feat: add single-spa
  docs/micro/3.md
Due: pnpm markdownlint:fix

fix: 修复路径
  demo/index.html
Due: pnpm lint

fix: 修复路径
  docs/exp/346.md
  docs/exp/358.md
  docs/micro/1.md
  docs/micro/3.md
Due: pnpm markdownlint:fix

feat: upd
  demo/avatar.jpg
  demo/resume.html
Due: pnpm lint

feat: upd
  demo/resume.html
  docs/micro/7.md
Due: pnpm lint, pnpm markdownlint:fix

feat: upd
  demo/resume.html
Due: pnpm lint

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx,vue}
  prettier --write --list-different: any of: *.{js,jsx,ts,tsx,vue}
  pnpm lint: any of: *.{html,css,scss,sass,less,styl}
  pnpm markdownlint:fix: any of: docs/**/*.{md,mdx}
