Repository zhaoky/site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write --list-different, pnpm lint, pnpm markdownlint:fix

feat: upd
  docs/.vitepress/config.ts
Due: eslint --cache --fix, prettier --write --list-different

upd
  docs/misc/237.md
Due: pnpm markdownlint:fix

upd
  docs/micro/999.md
Due: pnpm markdownlint:fix

test
  demo/blog.png
  demo/github.png
  demo/juejin.png
  demo/qrcode.png
  demo/resume.html
  demo/wxcode.png
  demo/zhihu.png
Due: pnpm lint

feat: add links
  docs/.vitepress/config.ts
  docs/links/index.md
Due: eslint --cache --fix, prettier --write --list-different, pnpm markdownlint:fix

feat: change
  docs/index.md
Due: pnpm markdownlint:fix

feat: change
  .github/workflows/publish-ci.yml
Due: none

feat: update
  docs/exp/misc/347.md
Due: pnpm markdownlint:fix

feat: 简历更新
  demo/resume.html
Due: pnpm lint

feat: 添加文章
  docs/exp/javascript/101.md
  docs/exp/javascript/102.md
  docs/exp/javascript/103.md
  docs/exp/javascript/104.md
  docs/exp/javascript/105.md
  docs/exp/javascript/106.md
  docs/exp/javascript/366.md
  docs/public/img/exp-106-1.png
  docs/public/img/exp-106-2.png
  docs/public/img/exp-106-3.png
  docs/public/img/exp-106-4.png
  docs/public/img/exp-106-5.png
  docs/public/img/exp-106-6.png
  docs/public/img/exp-106-7.png
  docs/public/img/exp-106-8.gif
Due: pnpm markdownlint:fix

feat: 添加文章
  docs/exp/misc/417.md
Due: pnpm markdownlint:fix

feat: 更新文档
  docs/exp/misc/347.md
Due: pnpm markdownlint:fix

feat: 更新文档
  docs/ai/3.md
  docs/ai/4.md
  docs/ai/7.md
Due: pnpm markdownlint:fix

feat: 文章调整
  docs/ai/7.md
  docs/micro/1.md
  docs/micro/3.md
  docs/micro/4.md
  docs/micro/5.md
  docs/micro/7.md
  docs/micro/999.md
Due: pnpm markdownlint:fix

feat: 新增文档
  docs/ai/8.md
Due: pnpm markdownlint:fix

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx,vue}
  prettier --write --list-different: any of: *.{js,jsx,ts,tsx,vue}
  pnpm lint: any of: *.{html,css,scss,sass,less,styl}
  pnpm markdownlint:fix: any of: docs/**/*.{md,mdx}
