Repository zhaoky/site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write --list-different, pnpm lint, pnpm markdownlint:fix

docs: 添加服务器运维常用命令速查文档
  docs/exp/misc/421.md
Due: pnpm markdownlint:fix

docs: add KubeSphere/Kubernetes learning notes
  docs/more/k8s.md
Due: pnpm markdownlint:fix

ci: 升级 Node.js 至 22
  .github/workflows/publish-ci.yml
Due: none

chore: 配置 pnpm onlyBuiltDependencies 白名单
  package.json
  pnpm-lock.yaml
Due: none

chore: 修正 pnpm 10 的 onlyBuiltDependencies 配置位置
  package.json
  pnpm-workspace.yaml
Due: none

ci: 固定 pnpm 版本为 10 并升级 action-setup 至 v4
  .github/workflows/publish-ci.yml
  package.json
Due: none

docs: 新增《自控力》深度精读笔记并加入侧边栏导航
  docs/.vitepress/config.ts
  docs/more/self-control.md
Due: eslint --cache --fix, prettier --write --list-different, pnpm markdownlint:fix

feat: 调整packagejson
  docs/ai/12.md
Due: pnpm markdownlint:fix

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx,vue}
  prettier --write --list-different: any of: *.{js,jsx,ts,tsx,vue}
  pnpm lint: any of: *.{html,css,scss,sass,less,styl}
  pnpm markdownlint:fix: any of: docs/**/*.{md,mdx}
